:root {
  @apply font-sans1 bg-bg;

  --fsz: 16px;
  --fsz2: calc(var(--fsz) * 2);
  --fsz3: calc(var(--fsz) * 3);

  --c-fg: #000;
  --c-bg: #fff;
  --c-bord: #000;
  --c-dis: #d4d4d4;
  --c-sel: #3b82f6;
}

.dark {
  --c-fg: #fff;
  --c-bg: #000;
  --c-bord: #262626;
  --c-dis: #171717;
  --c-sel: #1e40af;
}

body {
  @apply text-fg bg-bg;
}

canvas {
  @apply image-render-pixel;
}

button:not(.reset) {
  @apply bg-transparent px-2 py-1 b-(1 bord);
}

.container {
  @apply mx-auto px-8;
}

.uni {
  @apply contrast-100.00001 leading-none;
  font-size: var(--fsz);
  font-family: UnifontExMono, monospace;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.fsz2 {
  font-size: var(--fsz2);
}

.fsz3 {
  font-size: var(--fsz3);
}

.pxhack {
  @apply skew-.0000000001;
}
