:root {
  @apply font-sans1 bg-bg;

  --fsz: 16px;
  --fsz2: calc(var(--fsz) * 2);
  --fsz3: calc(var(--fsz) * 3);

  --c-fg: 0, 0, 0;
  --c-bg: 255, 255, 255;
  --c-bord: 0, 0, 0;
  --c-dis: 212, 212, 212;
  --c-sel: 59, 130, 246;
}

.dark {
  --c-fg: 255, 255, 255;
  --c-bg: 0, 0, 0;
  --c-bord: 38, 38, 38;
  --c-dis: 23, 23, 23;
  --c-sel: 30, 64, 175;
}

body {
  @apply text-fg bg-bg/100;
}

canvas {
  @apply image-render-pixel;
}

button:not(.reset) {
  @apply bg-transparent px-2 py-1 b-(1 bord);
}

.container {
  @apply mx-auto px-8;
}

.uni {
  @apply contrast-100.00001 leading-none;
  font-size: var(--fsz);
  font-family: UnifontExMono, monospace;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.fsz2 {
  font-size: var(--fsz2);
}

.fsz3 {
  font-size: var(--fsz3);
}

.pxhack {
  @apply skew-.0000000001;
}
